{% extends "base.html" %}

{% block content %}  
<!-- <input class="form-control session_search" id="session_search" type="text" placeholder="Search.."> -->
<br>
<div class="table-responsive" style="font-size:20px">         
  <table class="sessions_table table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Charging point</th>
        <th>User</th>
        <th>Date</th>
        <th>Status</th>
        <th>Length</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    {% for session in sessions%}
      <tr>
        <td>{{session.id}}</td>
        <td>{{session.chargingpoint_id}}</td>
        {% for user in users%}
       {% if user.id == session.user_id %}
        <td>{{user.name}}</td>
       {% endif %}
       {% endfor %}
        <td>{{session.created.strftime(('%d-%m-%y %H:%M:%S'))}}</td>
        <td>{{session.status}}</td>
       {% if session.endtime is not none %}
        <td>{{(session.endtime - session.created)}} </td>
        <td>{{(((session.endtime - session.created).total_seconds() / 3600) * 1)|round}}</td>
        {% else %}
        <td colspan="2"> Currently charging at chargingpoint {{session.chargingpoint_id}}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
  $("#session_search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$("table tr").hide();
$("table tr").each(function(index){
  $(this).delay(index*50).show(100);
});
</script>
  
{% endblock %}