{% extends 'bootstrap/base.html' %}

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


{% block styles %}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
  <link href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" rel="stylesheet">
{% endblock %}
{% block title %}
    {% if title %}{{ title }} - Graduation Assignment{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='favicon.ico') }}" width="50" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> 
    {% if current_user.is_authenticated %}
    {% set new_messages = current_user.new_messages() %}
    {% if new_messages %}
    <span class="badge">{{ new_messages }}</span>
    {% endif %}
    {% endif %}
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}"><h3>Home</h3> <span class="sr-only">(current)</span></a>
      </li>
      {% if current_user.name == 'Koen' %}
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('admin_dashboard')}}"><h3>Dashboard</h3> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('admin_dashboard_table')}}"><h3>Sessions</h3> <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('messages')}}">
              <h3>{{ ('Messages') }} 
              {% set new_messages = current_user.new_messages() %}
              {% if new_messages %}
              <span class="badge">{{ new_messages }}</span>
              {% endif %}
              </h3>
          </a>
      </li>
    </ul>
    {% endif %}
    <div class="form-inline my-2 my-lg-0">
        {% if current_user.name == 'Koen' %}
        <a href="{{ url_for('settings') }}"><img src="{{ url_for('static', filename='settings.png') }}" width="30" height="30" style="margin-right: 15px"></a>
        <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search">
        {% endif %}
      {% if current_user.is_anonymous %}
        <li class="nav navbar-nav navbar-right"><a class="nav-link" href="{{ url_for('login') }}"><h3>Login</h3></a></li>
      {% else %}
        <h2 class="text-white" style="margin-left: 20px; margin-right: 20px;"> <a href="{{ url_for('profile') }} "style="color:white">{{ current_user.name }}  </a>        </h2>
        <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='logout.png') }}" width="30" height="30" style="margin-right: 15px"></a>
    {% endif %}
    </div>
      
    
  </div>
</nav>
<script>
$(document).keyup(function (e) {
    if ($(".search:focus") && (e.keyCode === 13)) {
      var x = document.getElementById("search").value;   
      if(x)
      {   
        window.location.href='/search/'+x;
      }
    }
 });
 </script>
{% endblock %}




{% block content %}
    <div class="container">
        
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
   
    </div>
    
{% endblock %}

