{% extends "base.html" %}

{% block content %}
<div class="row">

<div class="col-md-12">
<div>
    <h1 class="text-uppercase card-title col-lg-3 col-md-6">Laadpaal</h1>
</div>
<div>
    <h1 class="text-uppercase card-title col-lg-3 col-md-6">Status</h1>
</div>
<div>
    <h1 class="text-uppercase card-title col-lg-3 col-md-6">User</h1>
</div>
<div>
    <h1 class="text-uppercase card-title col-lg-3 col-md-6">Start Time</h1>
</div>

{% for chargingpoint in chargingpoints%}
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-black">
       
          <h1 class="text-uppercase card-title">Laadpaal {{chargingpoint.id}}</h1>
        {% if chargingpoint.availability %}
          <div class="col-lg-3 col-md-6">
            <div class="card-body text-black">
                <h6 class="text-uppercase">Status</h6>
                <h1 class="display-1">Charging...</h1>
            </div>
          </div>
        
        {% endif %}
          {% for session in sessions%}
            {% if session.chargingpoint_id == chargingpoint.id and session.endtime == None %}
            <div class="col-lg-3 col-md-6">
              <div class="card-body text-black">
                <h6 class="text-uppercase">Current user</h6>
                {% for user in users%}
                {% if user.id == session.user_id %}
                <h1 class="display-1">{{ user.name }}</h1>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card-body text-black">
                <h6 class="text-uppercase">Start time</h6>
                <h1 class="display-1">{{ session.created.strftime('%m-%d %H:%M:%S') }}</h1>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
{% endfor %}
</div>    
{% endblock %}