{% extends "base.html" %}

{% block content %}

<div class="table-responsive" style="font-size:20px">         
  <table class="table" id="dashboard_table">
    <thead>
      <tr>
        <th>Laadpaal</th>
        <th>Status</th>
        <th>User</th>
        <th>Start Time</th>
        <th></th>
      </tr>
    </thead>
    {% for chargingpoint in chargingpoints%}
    <tbody id="chargingpoints">
      <tr>
        <td><h1 class="display-1">{{chargingpoint.id}}</h1></td>
        {% if chargingpoint.availability %}
          <td><h1 class="display-1">Charging...</h1></td>
          {% for session in sessions%}
            {% if session.chargingpoint_id == chargingpoint.id and session.endtime == None %}
              {% for user in users %}
                {% if user.id == session.user_id %}
                  <td><h1 class="display-1">{{ user.name }}</h1></td>
                  <td><h1 class="display-1">{{ session.created.strftime('%m-%d %H:%M:%S') }}</h1></td>
                  <td>
                    <div class="btn-group col-xs-1 center-block" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <form method="post" target="hidden-form">
                          <button type="submit" formaction="../../api/stop_session/chargingpoint_{{chargingpoint.id}}" onClick="window.parent.location.reload();window.close()">End session </button>
                        </form>    
                        <a class="dropdown-item" href="#">Send message </a>
                      </div>
                    </div>
                  </td>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% else %}
          {% for i in range(0,4) %}
            <td></td>
          {% endfor %}
        {% endif %}
      </tr>
    {% endfor %}  
    </tbody>
  </table>
</div>   
<IFRAME style="display:none" name="hidden-form"></IFRAME>  
{% endblock %}