{% extends "base.html" %}

{% block content %}  
<div class="table-responsive" style="font-size:20px">         
  <table class="index_table table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Chargingpoint</th>
        <th>Date</th>
        <th>Length</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody id="index_table">
    {% for session in sessions%}
      <tr>
        <td>{{session.id}}</td>
        <td>{{session.chargingpoint_id}}</td>
        {% for user in users%}
       {% if user.id == session.user_id %}
        <td>{{user.name}}</td>
       {% endif %}
       {% endfor %}
        <td>{{session.created.strftime(('%d-%m-%y %H:%M:%S'))}}</td>
       {% if session.endtime is not none %}
        <td>{{(session.endtime - session.created)}} </td>
        <td>{{(((session.endtime - session.created).total_seconds() / 60) * 0.20)|round}}</td>
        {% else %}
        <td colspan="2"> Currently charging at chargingpoint {{session.chargingpoint_id}}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $("table tr").hide();
  $("table tr").each(function(index){
    $(this).delay(index*50).show(100);
  });
</script>

  
{% endblock %}