{% extends "base.html" %}

{% block app_content %}
    <h1>{{ ('Messages') }}</h1>
    {% for post in messages %}
    
    <div class="row">
        <div class="col-sd">
            <div class="card card-body">
                <h1>
                    <span>{{ post.id }} </span>
                    <span>{{ post.body }}</span>
                    <h4>Session : {{ post.session_id}}</h4>
                    <h4>Chargingstation : {{ post.chargingpoint_id }}</h4>
                    <h4>{{ post.timestamp.strftime('%m-%d %H:%M:%S') }}</h4>
                    <button type="button" onclick="window.location.href='{{ url_for('authorize_session', message_id=post.id) }}';">{{ ('Charge!') }}</button>
                    <button type="button" onclick="window.location.href='{{ url_for('delete_message', message_id=post.id) }}';">{{ ('Delete') }}</button>
                </h1>
            </div>
        </div>
    </div>
    {% endfor %}
    
{% endblock %}