{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<IFRAME style="display:none" name="hidden-form"></IFRAME>  
<div style="font-size:20px">         
  <table class="table" id="dashboard_table">
    <thead>
      <tr>
        <th>Laadpaal</th>
        <th>Available for unknown users</th>
        <th>User</th>
        <th>Start Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for chargingpoint in chargingpoints%}
    
        <tr>
            <td>
                <h1 class="display-1" id="dashboard_laadpaal_value"> {{chargingpoint.id}} </h1>
            </td>

            <td>
                <label class="switch">
                    <input type="checkbox" id="slider_{{chargingpoint.id}}" onclick="slider_{{chargingpoint.id}}()">
                    <span class="slider"></span>
                </label>
                <p id="text_{{chargingpoint.id}}" style="display:none">Checkbox is CHECKED!</p>
                <script>
                    function slider_{{chargingpoint.id}}() {
                        // Get the checkbox
                        var checkBox = document.getElementById("slider_{{chargingpoint.id}}");
                        // Get the output text
                        var text = document.getElementById("text_{{chargingpoint.id}}");
                    
                        // If the checkbox is checked, display the output text
                        if (checkBox.checked == true){
                        text.style.display = "block";
                        } else {
                        text.style.display = "none";
                        }
                    }
                </script>
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}