{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<IFRAME style="display:none" name="hidden-form"></IFRAME>  
<div style="font-size:20px">         
  <table class="table" id="settings_table">
    <thead>
      <tr>
        <th>Laadpaal</th>
        <th>Guest mode</th>
      </tr>
    </thead>
    <tbody>
    {% for chargingpoint in chargingpoints%}
        <tr>
            <td>
                <h1 class="display-1"> {{chargingpoint.id}} </h1>
            </td>
            <td>
                <form onChange="this.form.submit()" action="../../api/unknown_usage/{{chargingpoint.id}}" method="post" target="hidden-form">
                    <label class="switch">
                        {% if chargingpoint.unknown_usage %}
                            <input type="checkbox" onclick="this.form.submit();" checked>
                        {% else %}
                            <input type="checkbox" onclick="this.form.submit();">
                        {% endif %}
                        <span class="slider"></span>
                    </label> 
                </form>   
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}