{% extends "base.html" %}

{% block content %}
<IFRAME style="display:none" name="hidden-form"></IFRAME> 
<div class=container>
    <h1>Hi, Stranger!</h1>
    <h2>Please pay here for your electrical usage </h2>
    <br>
    <br>
    <h1>Please select your chargepoint</h1>

    <form class="myform" onChange="this.form.submit()" action="../../api/authorize_session_unknown_user/" method="post" target="hidden-form" onsubmit="return validateForm();">
      <h3><input id="radio" type="radio" onchange="this.form.submit()"> I agree to the terms of service</h3>
      <br>
      <div class="btn-group btn-group-lg" role="group" aria-label="First group">
          {% for chargepoint in chargepoints %}
          <button formaction="../../api/authorize_session_unknown_user/{{chargepoint.id}}" type="submit" id="button" class="btn btn-secondary" value="submit">{{chargepoint.id}}</button>
          {% endfor %}
        </div>
    </form>       
    <br>
</div>
<script>
function validateForm()
{
 
    // Validate Title
    var title = document.getElementById("radio").checked;
    if (!title) {
        alert("Please agree with the terms of service");
        return false;
    }
  return true;
}
</script>
{% endblock %}
